.main .content.content-life,
.main .content.content-stores,
.main .content.content-contact {
  padding-right: 0;
  padding-left: 0;

  .grid-cell {
    width: 20%;
  }
}

a.life-item {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 99.5%;
  height: 99.5%;
  text-align: center;

  img {
    width: 100%;
    height: 100%;
  }

  .fa.fa-search {
    display: none;
    @include center-absolute(1.5em);
    color: white;
    z-index: $zindex-title;
  }

  &::before {
    content: attr(data-title);
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 30%;
    color: black;
    font-weight: 500;
    font-size: .8em;
  }

  &:hover {
    border: 4px solid $brand-primary;

    &::before {
      display: inline-block;
      color: white;
      z-index: $zindex-title;
    }

    .fa.fa-search{
      display: inline-block;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: .5;
    }
  }
}

@media only screen and ( max-width: $mobile-width ) {
  .main .content.content-life {
    .grid-cell {
      width: 100%;
      height: 30vh;

      a.life-item::before {
        display: inline-block;
        color: white;
        z-index: $zindex-title;
      }
    }

  }
}