.store-item {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 99.5%;
  height: 99.5%;
  text-align: center;

  img {
    width: 100%;
    height: 100%;
  }

  &:hover > .store-content {
    display: inline-block;
  }

  .store-content {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1em;
    z-index: $zindex-title;

    span {
      display: inline-block;
      font-size: .8em;
      height: 1.2em;
      line-height: 1.2em;
      margin: 0 0;
      padding-left: 10px;
      width: 100%;
      text-align: left;
      color: #C2C2C2;

      i {
        color: $brand-primary;
        margin-right: 8px;
      }
    }

    .store-title {
      font-size: 1em;
      color: white;
    }
  }

  &:hover {
    border: 4px solid $brand-primary;

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: .5;
    }
  }
}

select {
  border: solid 1px #E9E9E9;
  border-radius: 0;
  color: #E9E9E9;
  min-width: 10em;
  padding: 0 14px 0 5px;

  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("/images/arrow.png") no-repeat scroll right center transparent;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }

.stores-select {
  position: absolute;
  left: 1em;
  bottom: 1em;
}

.search-input {
  position: absolute;
  width: 100%;
  padding: 0 1em 1em;
  bottom: 0;
  input[type=text] {
    width: 100%;
    background-color: transparent;
    border: solid 1px #E9E9E9;
    padding: 0 .5em;
    color: white;
  }
  i {
    position: absolute;
    right: 2em;
    bottom: 1.5em;
    color: white;
  }
}

@media only screen and ( max-width: $mobile-width ) {
  .main .content.content-stores .grid-cell {
    width: 100%;
    height: 30vh;
  }
  .store-item {
    width: 100%;
    height: 100%;
  }
}