.details-nav {
  position: absolute;
  left: 0;
  bottom: 1em;

  ul {
    padding-left: 1em;
  }

  li {
    color: white;
    list-style-type: none;
    display: inline-block;
    float: left;
    clear: both;
    font-size: .8em;
    line-height: 2em;
    &.active {
      color: $brand-primary;
      &::before {
        background-color: $brand-primary;
      }
    }
    @include list-style-type(white);
  }
}

@media only screen and (max-width: $mobile-width) {
  .details-nav {
    display: none;
  }
}

.detail {
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
    margin: .5em 0;
  }

  .title {
    position: relative;
    color: black;

    h1,
    h3 {
      text-align: left;
      margin: 0;
    }

    h1 {
      font-size: 4em;
      line-height: 1em;
      height: auto;
      font-weight: bold;
    }
  }
}

.detail.brand-info {
  .detail-hero {
    display: inline-block;
    width: 100%;
    height: 70%;
    background-size: cover;
    margin-bottom: 0;
    background-image: url(/images/brand_info.jpg);

  }
  .detail-body {
    margin-top: 0;
    padding: 0 25%;

    span {
      display: inline-block;
      width: 100%;
      margin-bottom: 1.2em;
      font-size: .8em;
      text-align: center;
    }
  }
}

.detail.brand-course {
  .detail-item {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    background-size: cover;
    padding-top: 25%;

    &:hover {
      background-size: 110%;
      background-position: -1em -1em;
      &:before {
        display: none;
      }
    }

    &:before {
      content: '';
      position: absolute;
      display: inline-block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: .3;
    }

    &.item-01 {
      background-image: url(/images/item-01.jpg);
    }
    &.item-02 {
      background-image: url(/images/item-02.jpg);
    }
    &.item-03 {
      background-image: url(/images/item-03.jpg);
    }
    &.item-04 {
      background-image: url(/images/item-04.jpg);
    }

    .item-heading {
      display: inline-block;
      width: 100%;
      font-size: 3em;
      text-align: center;
      color: white;
      font-weight: bold;
    }

    .item-body {
      width: 100%;
      padding: 1em 2em;

      span {
        display: inline-block;
        text-align: center;
        font-size: .8em;
        width: 100%;
        color: white;
      }
    }
  }
}

.detail.brand-worth {
  padding: 20% 0;

  .detail-body {
    display: inline-block;
    text-align: center;
    padding-top: 3em;
    width: 100%;
  }

  .detail-item {
    position: relative;
    display: inline-block;
    width: 8em;
    height: 8em;
    margin: 0 3%;
    background-size: cover;

    &::after {
      content: attr(data-item-title);
      position: absolute;
      display: inline-block;
      text-align: center;
      bottom: -3em;
      left: 0;
      width: 100%;
      font-size: .8em;
      font-weight: bold;
    }

    &.item-01 {
      background-image: url(/images/worth01.png);
    }
    &.item-02 {
      background-image: url(/images/worth02.png);
    }
    &.item-03 {
      background-image: url(/images/worth03.png);
    }
    &.item-04 {
      background-image: url(/images/worth04.png);
    }
  }
}

.detail.brand-honour {
  padding-top: 10%;
  h5 {
    font-weight: normal;
    padding: 0 20%;
  }

  .detail-body {
    display: block;
    min-width: 90em;
    padding: 0 3em;

    & > div {
      width: 90em;
      height: 40em;
    }

  }

  .line-wrapper {
    width: 90em;
  }

  .detail-line {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 15em;
    text-align: center;
    &.line-1 {
      border-bottom: 1px solid $brand-gray;

      .item-body {
        padding-bottom: 2em;
      }
    }

    &.line-2 {
      padding-top: 1.2em;

      .item-body {
        padding-top: 3em;
      }
    }

  }

  .detail-item {
    display: inline-block;
    position: relative;
    width: 20em;
    height: auto;
    min-height: 5em;
    margin: 0 1em;
    border: 2px solid $brand-gray;
    border-radius: 1em;

    &:hover {
      border-color: $brand-primary;
      &::before {
        border-bottom-color: $brand-primary;
      }
      &::after {
        background-color: $brand-primary;
      }
    }

    .item-heading {
      position: absolute;
      display: inline-block;
      left: 0;
      background-color: $brand-gray;
      border-radius: .9em .9em 0 0;
      width: 100%;
      height: 2em;
      line-height: 2em;
      text-align: center;
      font-weight: bold;
    }
    .item-body {
      padding: .5em 1em;

      .item {
        display: inline-block;
        margin-bottom: 1.5em;
        span {
          display: inline-block;
          width: 100%;
          text-align: center;
          padding: 0;
          margin: 0;
          font-size: .2em;
          height: 1em;
          line-height: 1em;
          font-weight: lighter;
        }
        span.title {
          font-size: .8em;
          height: 1.2em;
          line-height: 1.2em;
          color: black;
          font-weight: 600;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: -10px;
      left: 50%;
      margin-left: -8px;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 10px solid $brand-gray;
    }

    &::after {
      content: "";
      position: absolute;
      width: .4em;
      height: .4em;
      top: -2em;
      left: 50%;
      margin-left: -.2em;
      background-color: $brand-gray;
      border-radius: .2em;
    }
  }

  .line-1 .line-inner {
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
    padding-bottom: 1.7em;

    .detail-item {
      .item-heading {
        bottom: 0;
        border-radius: 0 0 .9em .9em;
      }
      &::before {
        top: auto;
        bottom: -10px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: none;
        border-top: 10px solid $brand-gray;
      }
      &::after {
        top: auto;
        bottom: -2em;
      }

      &:hover::before {
        border-top-color: $brand-primary;
      }
    }
  }
  .line-2 {
    display: inline-block;

    .detail-item {
      vertical-align: text-top;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .detail.brand-honour {
    .detail-body {
      & > div {
        width: 75em;
      }
      .line-wrapper {
        width: 80em;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .detail.brand-honour {
    .detail-body {
      & > div {
        width: 70em;
      }
      .line-wrapper {
        width: 80em;
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  .detail.brand-honour {
    .detail-body {
      & > div {
        width: 65em;
      }
      .line-wrapper {
        width: 80em;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .detail.brand-honour {
    .detail-body {
      & > div {
        width: 60em;
      }
      .line-wrapper {
        width: 80em;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .detail.brand-honour {
    .detail-body {
      & > div {
        width: 48em;
      }
      .line-wrapper {
        width: 70em;
      }
    }
  }
}

.detail.brand-responsibility {
  padding-top: 2em;
  h1 {
    position: relative;
    margin-bottom: 2em;
    &::after {
      content: "";
      position: absolute;
      width: 2em;
      left: 50%;
      margin-left: -1em;
      bottom: -.5em;
      border-bottom: 2px solid $brand-primary;
    }
  }

  .sub-titles {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;

    .sub-title {
      display: inline-block;
      position: relative;
      width: 15em;
      margin: 0 2em;
      font-size: .6em;
      vertical-align: top;
      color: #A8A8A8;
    }
  }

  .detail-body {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 5em;

    .detail-item {
      display: inline-block;
      width: 15em;
      vertical-align: top;
      margin: 0 1vh;

      span {
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        color: #A8A8A8;
        padding: 0 1.3em;
        font-size: .6em;
      }
    }
  }

  .item-logo {
    display: inline-block;
    background-size: cover;
    width: 10em;
    height: 10em;
    border: .5em solid $brand-primary;
    border-radius: 50%;

    &.logo-01 {
      background-image: url(/images/response01.png);
    }
    &.logo-02 {
      background-image: url(/images/response02.png);
    }
    &.logo-03 {
      background-image: url(/images/response03.png);
    }
  }
}

@media only screen and (max-width: $mobile-width) {
  .mobile-detail .title {
    margin-left: 0;
  }
  .detail.brand-info {
    height: auto;

    .detail-hero {
      width: 100%;
      height: 30vh;
    }

    .detail-body {
      padding: 0 2em;
      span {
        text-align: left;
      }
    }
  }
  .detail.brand-course {
    .detail-item {
      width: 100%;
      padding-top: 5vh;
      padding-bottom: 5vh;

      background-position: center;

      &:hover {
        background-size: cover;
        background-position: center;
      }
    }
  }

  .detail.brand-worth {
    padding: 0 0;

    .detail-body {
      padding: 0 0;
    }
    .detail-item {
      margin-bottom: 6vh;
    }
  }

  .detail.brand-honour {
    .detail-heading h5 {
      padding: 0 5vh;
    }
    .detail-body {
      padding: 0 0;
      width: 100vh;
      font-size: .8em;

      .line-wrapper {
        width: 85em;
        padding-right: 15em;
      }
      .detail-item .item-body .item span {
        font-size: .8em;
        &.title {
          font-size: 1em;
        }
      ;
      }
    }
  }

  .detail.brand-responsibility {
    padding: 0 0;

    .detail-heading .sub-titles {
      margin-top: 2em;
      .sub-title {
        width: 32%;
        margin: 0 0;
        padding: 0 1em;
        text-align: left;
      }
    }

    .detail-body {
      padding-top: 2em;

      .detail-item{
        width:  100%;
        padding-bottom: 2em;
      }
    }
  }

  .details-content.content-about > .detail {
    display: inline-block !important;
  }

  .detail.bounceInLeft {
    animation-name: none;
  }

  .details-content.content-about  ~ .grid-cell {
    display: none;
  }
}

.detail.product-detail {
  .scroll-wrapper {
    width: 100%;
    height: 100%;
    padding: 0 0;
  }

  .product-show {
    height: 60em;
    .hero-image {
      display: inline-block;
      width: 75%;
    }
    .description {
      display: inline-block;
      position: absolute;
      right: 9%;
      bottom: 14%;
      width: 28em;
      height: auto;

      .product-show-item {
        float: left;
        font-size: .8em;
        margin-left: 1em;
        min-width: 12em;
        @include list-style-type($brand-primary);
      }
    }
  }

  .product-tech {
    height: 100%;
    padding: 5em 5em;

    .pull-left {
      width: 60%;
    }

    .pull-right {
      width: 40%;
      height: 100%;
      position: relative;
      display: inline-block;
      text-align: center;
      padding-top: 3em;

      .product-tech-image {
        display: inline-block;
        &>img {
          max-height:  40vh;
        }
      }
    }

    .title {
      width: 50%;
      h1 {
        font-size: 1.5em;
        height: auto;
      }
    }

    table.product-tech-details {
      font-size: .6em;
      width: 100%;
      border-collapse: collapse;
      border-top: $table-border;
      border-left: $table-border;

      tr {
        width: 100%;
        border-bottom: $table-border;

        td {
          display: inline-block;
          height: $table-row-height;
          line-height: $table-row-height;
          text-align: center;
          border-right: $table-border;

          &:nth-child(2n+1) {
            padding-left: 2em;
            text-align: left;
            background-color: #E9E9E9;
            width: 30%;
          }
          &:nth-child(2n) {
            width: 20%;
          }
        }
      }
    }
  }

  @media only screen and (max-width: $desktop-small-width) {
    .product-tech {
      //padding: 5em 1em;

      table.product-tech-details {
        font-size: .5em;

        tr > td:nth-child(2n+1) {
          padding-left: .5em;
        }
      }

      .pull-right img {
        width: 90%;
      }

    }
  }

  .product-core {
    padding-top: 5em;

    .title {
      display: inline-block;
      width: 100%;
      text-align: center;
      position: relative;

      h1.main-title {
        display: inline-block;
        text-align: center;
        font-size: 3em;
        font-weight: 500;
        width: 10em;
      }
    }

    .product-core-details {
      display: inline-block;
      position: relative;
      margin-top: 2em;
      width: 100%;
      text-align: center;

      .product-core-item {
        display: inline-block;
        vertical-align: text-top;
        margin: 0 2em;
        width: 15em;

        img {
          display: inline-block;
          width: 100%;
        }

        span {
          display: inline-block;
          width: 100%;
          margin-top: 2em;
          text-align: center;
        }
      }
    }
  }

  @media only screen and (max-width: 1600px) {
    .product-core {
      padding-top: 3em;
      .product-core-details {
        .product-core-item {
          width: 8em;
        }
      }
    }
  }

  .product-descriptions {
    padding-top: 10vh;
    .pull-left {
      width: 50%;
      display: inline-block;
      padding-top: 2vh;

      img {
        width: 100%;
      }
    }
    .pull-right {
      width: 50%;
      padding-top: 10vh;
      padding-right: 10em;

      h1.main-title {
        font-size: 3em;
        font-weight: 500;
      }

      h3.sub-title {
        margin-top: 2em;
        font-size: 1em;
        font-weight: 400;
      }

      .product-description-items {
        margin-top: 2em;
        display: inline-block;
        text-align: center;
        width: 100%;

        .product-description-item {
          display: inline-block;
          width: 6em;
          vertical-align: text-top;
          margin: 0 1em;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;

          &.active {
            border: 5px solid $brand-primary;
          }

          &:hover {
            cursor: pointer;
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1600px) {
    .product-descriptions {
      .pull-right {
        padding-top: 3vh;

        h1.main-title {
          font-size: 2em;
        }
        h3.sub-title {
          font-size: 1.2em;
        }

        .product-description-items {
          margin-top: 2em;

          .product-description-item {
            width: 5em;
            margin: 0 .6em;

            &.active {
              border: 3px solid $brand-primary;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    .product-descriptions {
      .pull-right {
        padding-top: 3vh;

        h1.main-title {
          font-size: 1.4em;
        }
        h3.sub-title {
          font-size: .6em;
        }

        .product-description-items {
          margin-top: 0;

          .product-description-item {
            width: 3em;
            margin: 0 .2em;

            &.active {
              border: 3px solid $brand-primary;
            }
          }
        }
      }
    }
  }
  
  @media only screen and ( max-width: $mobile-width ) {
    .product-show {
      position: relative;
      height: 50vh;

      .hero-image {
        width: 100%;
      }

      .description {
        position: relative;
        width: 100%;
        right: 0;

        .title {
          padding: 2em 0;
        }
      }
    }

    .product-tech {
      padding: 0 2em;
      display: inline-block;
      .pull-left,
      .pull-right {
        width: 100%;
      }

      .title {
        padding: 2em 0;
        margin-left: .6em;
        font-size: 1.5em;
      }

      table.product-tech-details {
        border-style: none;
        tr,
        tbody {
          display: block;
          width: 100%;
          border-style: none;
        }
        tr td {
          float: left;
          width: 49.2% !important;
          border: $table-border;
          margin: 0 0;
          box-sizing: border-box;
        }

      }
    }

    .product-core {
      .title {
        width: 100%;
        margin: 0 0;

        h1.main-title {
          width: 100%;
          font-size: 2.5em;
        }
      }
    }

    .product-descriptions {
      .pull-left,
      .pull-right {
        width: 100%;
        padding-right: 0;
      }

      .pull-right {
        padding-bottom:  2em;

        .main-title {
          text-align: center;
        }
      }
    }
  }
}
