.title {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  padding: 2em 1em;

  span {
    display: block;
  }
  .main-title {
    font-size: 3.5vh;
    font-weight: bold;
    line-height: 3.5vh;
    text-transform: uppercase;
  }
  .sub-title {
    font-size: 3vh;
    margin-top: .5em;
    font-family: $brand-fonts;
  }

  &.is-main-page {
    width: 200%;
    .main-title {
      text-transform: capitalize;
    }
  }
}

.widget-navbar {
  display: inline-block;
  width: 33.333%;
  position: absolute;
  right: .3em;
  bottom: 1.5em;
}

.widget-nav {
  display: block;
  float: right;
  margin-left: .5em;
  width: 3em;
  height: .3em;
  background-color: white;

  &:hover {
    cursor: pointer;
  }

  &.active {
    background-color: $brand-primary;
  }
}

.widget {
  position: relative;
  width: 33.33333%;
  height: 100%;
  float: right;
  background-color: white;
  padding: 0 0;

  ul, li {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .widget-heading {
    position: relative;
    .widget-title {
      display: inline-block;
      font-family: "Arial Black";
      font-size: 1.2em;
      font-weight: bold;
      padding: 1em 1em;
      text-transform: uppercase;
      width: 100%;
      vertical-align: text-bottom;
    }
    a.news-more {
      display: inline-block;
      position: absolute;
      bottom: 1.8em;
      right: 1.666em;
      font-family: 'Helvetica Neue', 'Helvetica', "sans-serif";
      font-size: .6em;
      font-weight: normal;
      border-bottom: 1px solid silver;
      color: #000;
    }
  }
  .widget-body {
    width: 100%;
    height: auto;
    padding: 0 2em;
    font-size: .5em;
    line-height: 1.2em;

    .news-item > a {
      font-size: 1.2em;
      color: black;
      font-weight: 500;
    }

    #news-item-test {
      position: fixed;
      content: "测";
      left: -1.2em;
      top: 0;
      display: inline-block;
      font-size: 1.2em;
    }
  }

  .news-image {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;

    &:hover {
      background-size: 110%;
      background-position: -1em -1em;
      span {
        display: inline-block;
      }
    }

    span {
      display: none;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 3em;
      line-height: 3em;
      padding-left: 1em;
      background-color: black;
      opacity: .6;
      color: white;
    }
  }
}

#responsive-menu-button {
  display: none;
}

@media only screen and (max-width: $mobile-width) {
  .title,
  .widget {
    width: auto;
    height: auto;
    float: none;
    margin: 0 2em;
  }

  .title {
    margin-top: 5em;
  }

  #responsive-menu-button {
    display: block;
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 1em;
    left: 1em;
  }
}

.only-mobile {
  .widget-navbar {
    width: auto;
    position: absolute;
    left: 50%;
    right: auto;
    margin-left: -6em;
    bottom: 3em;
  }
}

//region 首页新闻列表
ul.news-list {
  list-style-type: none;
  padding-left: 0;
  li.news-item {
    font-weight: lighter;
    padding: .6em 0;
    border-bottom: 1px dotted silver;
    &:before {
      content: "";
      border-bottom: 1px dotted silver;
      margin-right: 1em;
      display: inline-block;
      width: .5em;
      height: .5em;
      background-color: $brand-primary;
    }
  }
}

//endregion

//region 底部导航
nav.nav-list {
  height: $footer-height;
  width: 60%;
  padding-left: 1em;
  float: left;

  ul, li {
    list-style-type: none;
  }

  a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    width: 100%;
    height: $footer-height;
    line-height: $footer-height;
    outline: none;
    text-decoration: none;
    color: black;
    overflow: hidden;

    span {
      font-family: 'source-han-sans-cn';
      display: inline-block;
      height: $footer-height;
      width: 100%;
      line-height: $footer-height;
      text-align: center;
      padding: 0 .5em;
    }
  }

  ul.nav-top-list {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;

    & > li {
      position: relative;
      width: 6em;
      display: inline-block;
      zoom: 1;
      *display: inline;
    }
  }

  ul.nav-sub-list {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .9;
    z-index: $zindex-popover;
    padding-top: 10%;

    &:after {
      content: '';
      position: absolute;
      right: 11em;
      top: 5em;
      width: 2.5em;
      height: 2.5em;
      background-size: cover;
      background-image: url("/images/close.png");
      cursor: pointer;

      &:hover {
        background-image: url("/images/close-hover.png");
      }
    }

    li {
      display: inline-block;
      width: 100%;
      position: relative;
      text-align: center;
      z-index: $zindex-popover2;

      a, span {
        display: inline-block;
        width: auto;
      }
      span {
        font-size: 1.5em;
        color: white;
        &:hover {
          color: $brand-primary;
        }
      }
    }
  }

  // animated
  .nav-top-list > li > a {

    & > span {
      background: white;
      -webkit-transition: -webkit-transform .5s;
      -moz-transition: -moz-transform .5s;
      -o-transition: -o-transform .5s;
      transition: transform .5s;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: $footer-height;
      line-height: $footer-height;
      text-align: center;
      background-color: $brand-primary;
      color: white;
      content: attr(data-hover);
      font-family: $brand-fonts;
      -webkit-transition: -webkit-transform .5s;
      -moz-transition: -moz-transform .5s;
      transition: transform .5s;
      -webkit-transform: translateX(-100%);
    }

    &:hover > span,
    &:focus > span {
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      transform: translateX(100%);
    }

    &:hover::before,
    &:focus::before {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      transform: translateX(0%);
    }
  }
}

.footer-info {
  width: 40%;
  height: $footer-height;

  .content-info {
    width: 70%;
    padding-top: .6em;

    span {
      display: block;
      font-size: .5em;
      text-align: right;
    }

    span.company-name {
      font-family: $brand-fonts;
    }
    span.company-right {
      margin-top: .3em;
      color: silver;
      line-height: 1em;
    }
  }

  .contact-info {
    position: relative;
    width: 30%;
    height: 90%;
    padding-top: .3em;
    padding-left: .5em;

    .contact-wechat,
    .contact-weibo,
    .contact-email {
      position: relative;
      float: left;
      width: 1.5em;
      height: 1.5em;
      background-size: cover;
      margin-left: .5em;
    }
    .contact-wechat {
      background-image: url(/images/wechat.png);

      &:hover {
        &:before {
          content: '';
          position: absolute;
          display: inline-block;
          width: 6em;
          height: 6em;
          left: -2em;
          top: -6.8em;
          background-image: url(/images/brcode.png);
          background-size: cover;
        }
      }
    }
    .contact-weibo {
      background-image: url(/images/weibo.png);
    }
    .contact-email {
      background-image: url(/images/email.png);
    }

    .design-info {
      position: absolute;
      font-size: .5em;
      bottom: 0;
      left: .5em;
      width: 100%;
      color: silver;
    }
  }
}

@media only screen and (max-width: $desktop-small-width) {
  nav.nav-list {
    font-size: .5em;
  }
  .footer-info .content-info span.company-right {
    font-size: .3em;
  }

  .footer-info .contact-info {
    .contact-wechat,
    .contact-weibo,
    .contact-email {
      width: 1.2em;
      height: 1.2em;
    }
  }
}

//endregion

//region 侧边导航
.nav-close {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -1.5em;
  margin-top: -1.5em;
  width: 2.5em;
  height: 2.5em;
  background-size: cover;
  background-image: url(/images/close.png);
  &:hover {
    background-image: url(/images/close-hover.png);
  }
}

.nav-page-next {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -1.5em;
  margin-top: -1.5em;
  width: 1.5em;
  height: 3em;
  background-size: cover;
  background-image: url(/images/page-next.png);
  &:hover {
    background-image: url(/images/page-next-hover.png);
  }
}

.nav-page-prev {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -1.5em;
  margin-top: -1.5em;
  width: 1.5em;
  height: 3em;
  background-size: cover;
  background-image: url(/images/page-prev.png);
  &:hover {
    background-image: url(/images/page-prev-hover.png);
  }
}

//endregion

@import "component_detail";
@import "component_news";
@import "component_stores";
@import "component_scrollbar";
