.main .content.content-projects {
  padding-right: 0;
  padding-left: 0;

  .grid-cell {
    width: 20%;
  }

  .grid-cell.grid-cell-no-6 {
    width: 100%;
    height: 50%;
    display: block;

    & > .scroll-wrapper {
      padding: 0 0;
    }
  }

  .scrollbar-macosx {
    width: 100%;
  }

  .project-wrapper {
    width: 200%;
  }

  .project-item {
    display: inline-block;
    position: relative;
    margin-left: -6px;

    &:hover > .project-content {
      display: inline-block;
    }

    .project-content {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 99%;
      height: 98%;
      padding: 20% 2em;
      z-index: 100;

      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        border: 4px solid $brand-primary;
        z-index: 50;
        opacity: .6;
      }


      span.title, span.content {
        display: inline-block;
        position: absolute;
        z-index: 100;
        padding: 0 30px;
        width: 100%;
        left: 0;
      }

      span.title {
        color: white;
        font-size: 2em;
        top: 20%;
      }

      span.content {
        color: white;
        font-size: .8em;
        top: 35%;
      }
    }

    img {
      display: inline-block;
      height: 30em;
    }
  }

}