.main .content.content-news {
  padding-right: 0;
  padding-left: 0;
  display: table;
  padding-bottom: 0;
  position: relative;

  .grid-row {
    display: table-row;
    width: 100%;
    height: 25%;
  }

  .grid-cell {
    width: 20%;
    height: 100%;
    display: table-cell;
    overflow: hidden;
  }

  .grid-cell.grid-cell-no-6 {
    position: absolute;
    top: 25%;
    left: 20%;
  }

  .grid-cell.grid-cell-no-3,
  .grid-cell.grid-cell-no-8{
    width: 40%;
    height:200%;
  }

  .news-item {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: cover;
    @include background-image-scale;

    z-index: $zindex-title;

    a {
      display: inline-block;
      z-index: $zindex-title;
    }

    &:hover + span {
      display: inline-block;
    }

    & + span {
      position: absolute;
      bottom: 0;
      display: none;
      width: 100%;
      height: 3em;
      line-height: 3em;
      padding-left: 1em;
      z-index: $zindex-popover;
      color: white;
      background-color: black;
      opacity: .6;

      pre {
        float: right;
        margin-right: 2em;
        display: inline-block;
        height: 100%;
        line-height: 100%;
        text-transform: uppercase;
      }
    }
  }
}

@media only screen and ( max-width: $mobile-width ) {
  .main .content.content-news{
    display: block;

    .grid-row {
      display: block;
    }
    .grid-cell,
    .grid-cell.grid-cell-no-3,
    .grid-cell.grid-cell-no-8 {
      display: inline-block;
      position: relative;
      left: 0;
      top: 0;
      margin-top: 0;
      width: 100%;
      height: 30vh;
    }

    .grid-cell.only-desktop {
      display: none;
    }
    .news-item {
      position: relative;
      width: 100%;
      height: 30vh !important;

      span {
        display: inline-block;
      }
    }

    .fadeIn {
      animation-name: none;
    }
  }
}

.main .content.content-news-detail {
  padding-right: 0;
  padding-left: 0;

  .grid-cell {
    width: 20%;
  }

  .grid-cell.grid-cell-no-5 {
    position: absolute;
    left: 20%;
    top: 25%;
  }

  .grid-cell.grid-cell-no-3 {
    width: 40%;
    height: 100%;
    padding-bottom: 3px;
  }

  .news-detail {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: white;
    padding-top: 3em;
    padding-right: 2em;
    padding-left: 2em;

    .news-detail-heading {
      display: inline-block;
      text-align: center;
      width: 100%;
      padding-bottom: 1em;

      .news-detail-title {
        font-size: 1.5em;
        font-weight: 500;
        display: inline-block;
        width: 70%;
      }

      span {
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
        font-size: .5em;
        color: #C2C2C2;
      }

      border-bottom: 1px solid #C2C2C2;
    }

    .news-detail-body {
      font-size: .8em;

      img {
        max-width: 100% !important;
      }

      & > div {
        max-height: 60em;
        overflow: auto;
      }
    }
  }
}

@media only screen and ( max-width: $mobile-width ) {
  .main .content.content-news-detail {
    .grid-cell.grid-cell-no-3 {
      width: 100%;
      height: auto;
      padding-bottom: 0;
    }

    .news-detail {
      height: auto;
      padding-bottom: 2em;
      .news-detail-body {
        height: auto;
        max-height: none;
        &>div {
          max-height: none;
        }
      }
    }

    .bounceInLeft {
      animation-name: none;
    }
  }
}