.contact-content {
  position: absolute;
  display: inline-block;
  width: 300%;
  bottom: 1em;
  left: 1em;
  color: white;
  font-size: .85em;

  i.fa {
    margin-right: .8em;
  }

  .contact-type {
    display: inline-block;
    width: 5em;
    text-align: justify;
  }

  .contact-info {
    color: #A8A8A8;
  }
}

@media only screen and ( max-width: $mobile-width ) {
  .main .content.content-contact {
    .grid-cell {
      width: 100%;
      position: relative;
      padding-left: 2em;
    }

    section {
      display: inline-block;
      float: left;
      clear: both;
    }

    .contact-content {
      position: relative;
      bottom: 0;
      left: 0;
    }

    .fa, .contact-type {
      display: inline-block;
      vertical-align: top;
    }

    .contact-info {
      display: inline-block;
      width: 20em;
    }
  }
}