.main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  article {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: 3.2em;

    .grid,
    .content{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding-bottom: $footer-height;
    }
    .content {
      padding-left: 20%;
      padding-right: 20%;
    }
    .grid {
      z-index: $zindex-grid;
      border: $grid-border;
    }

    .details-content {
      position: relative;
      float: left;
      top: 0;
      left: 0;
      height: 100%;
      width: 80%;
      border-bottom: $details-border;

      .detail {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: white;
      }
    }
  }

  .footer {
    position: absolute;
    z-index: $zindex-footer;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    background: white;
  }

  .grid-cell {
    float: left;
    border-right: $grid-border;
    border-bottom: $grid-border;
    box-sizing: border-box;
    width: 20%;
    height: 25%;
    position: relative;
  }

  .content > .grid-cell {
    border: none;
    width: 100%;
  }

  .logo {
    position: absolute;
    bottom: 6px;
    left: 4px;
  }
}

@media screen and (max-width: $mobile-width) {
  .main {
    overflow-y: visible;
    .grid {
      display: none;
    }

    article .content {
      padding: 0 0;

      .grid-cell {
        height: auto;
        min-height: 5em;
      }
    }

    article .details-content {
      width: 100%;
      height: auto;
    }
    .logo {
      display: none;
    }


    .footer {
      display: none;
    }
  }

  .mobile-top {
    display: inline-block;
    width: 100%;
    position: relative;
    height: 4em;
    .logo {
      position: absolute;
      display: inline-block;
      width: $mobile-logo-width;
      top: 1em;
      left: 50%;
      margin-left: -$mobile-logo-width/2;

      img {
        width: $mobile-logo-width;
      }
    }
  }

  .mobile-detail {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 30vh;
    padding-left: 1em;
    padding-bottom: 1em;
    vertical-align: text-bottom;
  }

  .footer-info.only-mobile{
    display: inline-block;

    background-color: white;
    width: 100%;
    height: auto;

    & > .contact-info {
      display: inline-block;
      width: 100%;
      padding-top: 1em;
      text-align: center;
      &> a {
        display: inline-block;
        width: 2em;
        height: 2em;
        float: none;
      }
    }

    & > .content-info {
      width: 100%;
      padding-top: 0;
      padding-bottom: .6em;
      & > span {
        width: 100%;
        padding-left: 1em;
        text-align: center;
      }
    }
  }
}

@import "layout_products";
@import "layout_category";
@import "layout_news";
@import "layout_projects";
@import "layout_life";
@import "layout_contact";

@media only screen and ( max-width: $mobile-width ) {
  .grid-cell > .nav-close {
    display: none;
  }


}