.main .content.content-projects {
  padding-right: 0;
  padding-left: 0;

  .grid-cell {
    width: 20%;
  }

  .grid-cell.grid-cell-no-6 {
    width: 100%;
    height: 50%;
    display: block;

    & > .scroll-wrapper {
      padding: 0 0;
    }
  }

  .project-item {
    display: inline-block;
    position: relative;
    margin-left: -6px;

    &:hover > .project-content {
      display: inline-block;
    }

    .project-content {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      width: 99%;
      height: 98%;
      z-index: $zindex-popover2;

      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        border: 4px solid $brand-primary;
        z-index: 50;
        opacity: .6;
      }

      span.title, span.content {
        display: inline-block;
        position: relative;
        z-index: 100;
        padding: 0 30px;
        width: 100%;
        left: 0;
      }

      span.title {
        color: white;
        font-size: 2em;
        padding-top: 2em;
        height: 30%;
      }

      span.content {
        color: white;
        font-size: .8em;
        height: 70%;
      }
    }

    img {
      display: inline-block;
      height: 30em;
    }
  }
  
  @media only screen and ( max-width: $mobile-width ) {
    .grid-cell.grid-cell-no-6 {
      width: 100%;
      height: auto;
    }

    .project-wrapper {
      width: 100%;
    }

    .project-item {
      width: 99%;
      height: 40vh;
      margin: 0 0;

      img {
        height: 40vh;
      }

      .project-content {
        padding: 1em 2em 0 2em;
        span.title, span.content {
          padding: 0 0;
          margin: 0 0;
        }
        span.content {
          max-height: 60%;
        }
      }
    }
  }
}
