$zindex-video-background: -300;
$zindex-background: -200;
$zindex-grid: -100;
$zindex-title: 100;
$zindex-popover: 200;

$brand-primary: #ECB02E;
$brand-gray: #E9E9E9;

$grid-border: 1px solid rgba(255, 255, 255, 0.2);
$details-border: 1px solid rgba(3, 3, 3, 0.2);

$footer-height: 50px;

$mobile-width: 768px;
$mobile-logo-width: 8em;

$desktop-small-width: 1250px;


$brand-fonts: 'source-han-sans-cn', 'Microsoft yahei', 微软雅黑, 'HanHei SC', 'PingFang SC', sans-serif;