$zindex-video-background: -300;
$zindex-background: 0;
$zindex-grid: 0;
$zindex-body: 10;
$zindex-title: 100;
$zindex-popover: 200;
$zindex-popover2: 300;
$zindex-popover3: 400;
$zindex-footer: 500;

$brand-primary: #ECB02E;
$brand-gray: #E9E9E9;

$grid-border: 1px solid rgba(255, 255, 255, 0.2);
$details-border: 1px solid rgba(3, 3, 3, 0.2);

$footer-height: 50px;

$mobile-width: 768px;
$mobile-logo-width: 8em;

$desktop-small-width: 1250px;
$table-border: 1px solid #C2C2C2;
$table-row-height: 2.5em;


$brand-fonts: 'source-han-sans-cn', 'Microsoft yahei', 微软雅黑, 'HanHei SC', 'PingFang SC', sans-serif;